# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/

backend/models/frame_model.keras
backend/models/norm_stats.json

# Dataset & generated outputs
dataset/
outputs/

# Frontend dependencies & build
frontend/node_modules/
frontend/build/

# Logs
*.log

# Model weights & checkpoints
*.h5
*.ckpt

# OS files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Mac OS “.localized” file
.localized
